// ## Colors
$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);
// - Weights: 500, 700
$Manrope-font: "Manrope", sans-serif;

#root {
	font-size: 13px;
	font-family: $Manrope-font;
}

@mixin centered-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}