@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

// MOIBLE RESOLUTION

#root,
#main-wrapper {
	@include centered-flex;
	height: 130vh;
	background-color: $Light-Grayish-Blue;
}

@keyframes bounceAnimation {
	from {
		transform: translateY(-75px);
	}
	to {
		transform: translateY(-73px);
	}
}

// MAIN COMPONENT

#main-container {
	background-color: white;
	width: 88vw;
	max-width: 400px;
	border-radius: 10px;
	box-shadow: 0 0 3px -2px black;

	#img-wrapper {
		overflow-y: hidden;
		height: 220px;

		#main-image {
			border-radius: 10px 10px 0 0;
			height: 120% !important;
		}
	}

	#text-section {
		padding: 0 17px;

		#text-section-container {
			#header-text {
				padding-top: 35px;
				font-size: 1.05rem;
				line-height: 1.7rem;
				font-weight: 700;
				color: $Very-Dark-Grayish-Blue;
			}

			#description-text {
				color: $Desaturated-Dark-Blue;
				font-size: 0.84rem;
				line-height: 1.3rem;
			}
		}
	}
}

// PROFILE COMPONENT
#profile {
	#{&}-img {
		width: 40px;
	}
	#{&}-name {
		font-weight: 700;
		color: $Very-Dark-Grayish-Blue;
	}
	#{&}-date {
		color: $Grayish-Blue;
	}

	#button-container {
		@include centered-flex;

		#share-btn {
			background-color: $Light-Grayish-Blue;
			width: fit-content;
			padding: 10px;
			border: none;
			transition: all 0.3s;

			&:hover {
				box-shadow: 0 0 5px -2px black;
			}
		}

		#toggle-container {
			@include centered-flex;
			flex-direction: column-reverse;
			width: 60px;
			row-gap: 15px;
			height: 150px;
			border-radius: 10px;
			background-color: $Very-Dark-Grayish-Blue;
			position: absolute;
			box-shadow: 0 0 7px -2px black;
			transition: all 0.3s;
			transform: translateY(-40px);
			max-height: 0;
			overflow: hidden;

			&:hover {
				box-shadow: 0 0 10px -2px black;
			}

			#square {
				position: absolute;
				width: 20px;
				height: 20px;
				background-color: $Very-Dark-Grayish-Blue;
				transform: rotate(45deg);
				margin-top: 140px;
				max-height: inherit;
				transition: inherit;
				z-index: -99;
			}
			p {
				margin: 0;
				color: $Grayish-Blue;
				letter-spacing: 0.1rem;
				font-size: 0.7rem;
			}
			#icons-container {
				position: relative;
				@include centered-flex;
				row-gap: 10px;
				flex-direction: column;
				list-style-type: none;
				margin: 0;
				padding: 0;
				top: 0;
				column-gap: 13px;
			}
		}
	}
}

// FOOTER COMPONENT
footer {
	position: absolute;
	font-size: 0.8rem;
	font-weight: 700;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	top: 122vh;
	width: fit-content;
}

// DESKTOP/TABLET RESOLUTION

@media screen and (min-width: 768px) {
	#root,
	#main-wrapper {
		height: 100vh;
	}
	#main-container {
		background-color: white;
		width: 85vw;
		max-width: 737px;
		height: 47vh;
		min-height: 300px;

		#header-text {
			font-size: 1.2rem;
		}

		#img-wrapper {
			overflow-x: hidden;
			width: 40%;
			height: auto;

			#main-image {
				border-radius: 10px 0 0 10px;
				width: 122.7% !important;
				height: 100% !important;
				max-height: none;
			}
		}
	}

	#button-container {
		@include centered-flex;

		#share-btn {
			width: fit-content;
			padding: 10px;
			border: none;
			transition: all 0.3s;

			&:hover {
				box-shadow: 0 0 5px -2px black;
			}
		}

		#toggle-container {
			@include centered-flex;
			flex-direction: row !important;
			width: 28vw !important;
			max-width: 245px;
			height: 3.3rem !important;
			row-gap: 0;
			transform: translateY(-75px) !important;
			justify-content: space-evenly !important;

			#square {
				margin-top: 48px !important;
			}
			p {
				letter-spacing: 0.27rem !important;
			}
			#icons-container {
				position: relative;
				@include centered-flex;
				row-gap: 10px;
				flex-direction: row !important;
				margin: 0;
				padding: 0;
				top: 0;
				column-gap: 13px;
			}
		}
	}

	#text-section {
		#header-text {
			font-size: 1.2rem !important;
		}

		#description-text {
			font-size: 0.83rem !important;
		}
	}

	.icons:hover {
		img {
			transition: all 0.3s;
			transform: translateY(-3px);
			box-shadow: 0 0 30px -2px $Desaturated-Dark-Blue;
		}
	}

	footer {
		top: 95vh;
	}
}
