@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
#root {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

#root,
#main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130vh;
  background-color: #ecf2f8;
}

@keyframes bounceAnimation {
  from {
    transform: translateY(-75px);
  }
  to {
    transform: translateY(-73px);
  }
}

#main-container {
  background-color: white;
  width: 88vw;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 3px -2px black;
}

#main-container #img-wrapper {
  overflow-y: hidden;
  height: 220px;
}

#main-container #img-wrapper #main-image {
  border-radius: 10px 10px 0 0;
  height: 120% !important;
}

#main-container #text-section {
  padding: 0 17px;
}

#main-container #text-section #text-section-container #header-text {
  padding-top: 35px;
  font-size: 1.05rem;
  line-height: 1.7rem;
  font-weight: 700;
  color: #48556a;
}

#main-container #text-section #text-section-container #description-text {
  color: #6d7f97;
  font-size: 0.84rem;
  line-height: 1.3rem;
}

#profile #profile-img {
  width: 40px;
}

#profile #profile-name {
  font-weight: 700;
  color: #48556a;
}

#profile #profile-date {
  color: #9eafc2;
}

#profile #button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile #button-container #share-btn {
  background-color: #ecf2f8;
  width: fit-content;
  padding: 10px;
  border: none;
  transition: all 0.3s;
}

#profile #button-container #share-btn:hover {
  box-shadow: 0 0 5px -2px black;
}

#profile #button-container #toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  width: 60px;
  row-gap: 15px;
  height: 150px;
  border-radius: 10px;
  background-color: #48556a;
  position: absolute;
  box-shadow: 0 0 7px -2px black;
  transition: all 0.3s;
  transform: translateY(-40px);
  max-height: 0;
  overflow: hidden;
}

#profile #button-container #toggle-container:hover {
  box-shadow: 0 0 10px -2px black;
}

#profile #button-container #toggle-container #square {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #48556a;
  transform: rotate(45deg);
  margin-top: 140px;
  max-height: inherit;
  transition: inherit;
  z-index: -99;
}

#profile #button-container #toggle-container p {
  margin: 0;
  color: #9eafc2;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
}

#profile #button-container #toggle-container #icons-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  column-gap: 13px;
}

footer {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: 122vh;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  #root,
  #main-wrapper {
    height: 100vh;
  }
  #main-container {
    background-color: white;
    width: 85vw;
    max-width: 737px;
    height: 47vh;
    min-height: 300px;
  }
  #main-container #header-text {
    font-size: 1.2rem;
  }
  #main-container #img-wrapper {
    overflow-x: hidden;
    width: 40%;
    height: auto;
  }
  #main-container #img-wrapper #main-image {
    border-radius: 10px 0 0 10px;
    width: 122.7% !important;
    height: 100% !important;
    max-height: none;
  }
  #button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #button-container #share-btn {
    width: fit-content;
    padding: 10px;
    border: none;
    transition: all 0.3s;
  }
  #button-container #share-btn:hover {
    box-shadow: 0 0 5px -2px black;
  }
  #button-container #toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    width: 28vw !important;
    max-width: 245px;
    height: 3.3rem !important;
    row-gap: 0;
    justify-content: space-evenly !important;
  }
  #button-container #toggle-container #square {
    margin-top: 48px !important;
  }
  #button-container #toggle-container p {
    letter-spacing: 0.27rem !important;
  }
  #button-container #toggle-container #icons-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    flex-direction: row !important;
    margin: 0;
    padding: 0;
    top: 0;
    column-gap: 13px;
  }
  #text-section #header-text {
    font-size: 1.2rem !important;
  }
  #text-section #description-text {
    font-size: 0.83rem !important;
  }
  .icons:hover img {
    transition: all 0.3s;
    transform: translateY(-3px);
    box-shadow: 0 0 30px -2px #6d7f97;
  }
  footer {
    top: 95vh;
  }
}
/*# sourceMappingURL=main.css.map */